.project{
    margin-bottom: 192px;
    &__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        font-family: var(--roboto);
        font-size: 51px;
        font-weight: 400;
        line-height: 80px;
        margin-bottom: 10px;
    }
    &__lasttitle{
        text-align: center;
        width: 78.61%;
        max-width: 849px;
        color: var(--black);
        font-family: var(--cardo);
        font-size: 17px;
        font-weight: 400;
        line-height: 25px;
        margin-bottom: 63px;
    }
    &__block{
        margin: 0 auto;
        // flex-wrap: wrap;
        // -webkit-flex-wrap:break-word;
        display: flex;
        gap: 24px;
        &_photo{
            width: 341px;
            height: 406px;
            margin-bottom: 20px;
        }
        &_title{
            font-family: var(--roboto);
            font-size: 18px;
            font-weight: 400;
            line-height: 32px;
        }
    }

}
@media(max-width:1190px){
    .project{
        &__block{
            justify-content: space-around;
        
        }
    }
}